*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body{
    background-color: aliceblue;
}
body.dark-mode{
    background-color: black;
}
canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}